* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header nav {
  background-color: #;
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav img {
  max-width: 5%;
  max-height: 10%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  gap: 5rem;
  font-size: 1.7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: black;

}
