* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header nav {
  background-color: #;
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .8em 2em;
}

nav img {
  max-width: 15%;
  max-height: 25%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  gap: 4rem;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: all .3s linear;
}

nav a:hover {
  color: #52b2bf;
}

.merch-nav header {
  background-color: #;
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .8em 2em;
}

.merch-nav img {
  max-width: 15%;
  max-height: 25%;
}

.merch-nav ul {
  list-style-type: none;
  margin: 0;
  gap: 4rem;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.merch-nav ul li a {
  text-decoration: none;
  color: black;
  transition: all .3s linear;
}

.merch-nav a:hover {
  color: #52b2bf;
}
